body {
  background: #EEE;
  color: #999;
  margin: 0;
  padding: 10px 0px 20px;
  font-family: "Orbitron", "Helvetica", sans-serif;
  text-align: center;
  font-size: 11px;
  line-height: 16px;
}

a, a:visited, a:active {
  color: #666;
  text-decoration: none;
}

a:hover, a:visited:hover, a:active:hover {
  color: #222;
}

.container h2 {
  margin: 10px 0;
  color: #999;
  font-size: 18px;
}

#joyDiv {
  border: 1px solid #9C9898;
}

#JoyStick {
  color: #222;
  font-size: 5px;
}

#game {
  position: relative;
  max-width: 85vw;
  max-height: 75vh;
  margin: 20px auto 40px;
  left: -10px;
}

#game canvas {
  border: 10px solid white;
}


#bg {
  position: absolute;
  z-index: 100;
  display: none;
  margin: -100px;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  background: rgba(38, 74, 96, 1);
  border: solid rgba(0, 0, 0, 0.14) 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

#joystick {
  z-index: 101;
  position: absolute;
  margin: -40px;
  display: none;
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background: rgba(255, 255, 255, 0.7);
  border: solid rgba(0, 0, 0, 0.14) 1px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.overlay {

  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  #joy3Div {
    width: 200px;
    height: 200px;
    margin: 50px;
    position: fixed;
    bottom: 30px;
    left: 500px;
  }
}